body{
       background: linear-gradient( to left, rgba(230,109,194,1) , rgba(153,45,253,1) );
}

#formulario{
    border-radius: 1%;
    background-color: aqua;
    height: 300px;
    width: 50%;
    padding-top: 25px;
}


#formulario-js{
    padding-top: 5%;
}

#celda{

    margin-top: 3px;
}

.boton{
    margin-left: 90%;
    padding-top: 5%;
}

#dinamico{
    color: rgb(242, 248, 248);
    text-align: center;
    padding-top: 10%;
}